.ButtonComponent {
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.standard-button {
    width: 100px!important;
    height: 30px!important;
    background-color: darkcyan!important;
}

.large-button {
    min-width: 245px;
    min-height: 50px;
}

.transparent-button {
    width: 250px;
    height: 60px;
}

.gray-button {
    background-color: goldenrod;
    width: 200px;
    height: 40px;
}

.red-button {
    background-color: brown;
    width: 40px;
    height: 20px;
}

.ButtonComponent .button-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #f4f4f4;
    /*padding: 10px 20px;*/
}

.ButtonComponent .button-large-text {
    font-size: 20px;
    color: #f5f5f5;
}

.ButtonComponent .button-red-text {
    font-size: 12px;
    color: #f5f5f5;
}
