.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App .presentation-container {
    border: 1px solid white;
    padding:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.App .presentation-container .video-container {
    padding-bottom:20px;
}

.App  .presentation-container .video-container .messages {
    border: 1px solid white;
    font-size: 30px;
    text-align: center;
    font-family: 'Rajdhani';
}

/*.App  .presentation-container .user-control-container {*/
    /*!*border: 1px solid white;*!*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*width: 640px;*/
    /*box-sizing: border-box;*/
/*}*/

/*.App  .presentation-container .user-control-container .user-control {*/
    /*border: 1px solid white;*/
    /*padding:20px;*/
    /*width: 100%;*/
    /*box-sizing: border-box;*/
    /*margin-bottom: 20px;*/
/*}*/

/*.App  .presentation-container .user-control-container .user-control .control-item {*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*padding-bottom: 20px;*/
/*}*/

/*.App  .presentation-container .user-control-container .user-control .control-item .edit-icon{*/
    /*justify-content: flex-end;*/
/*}*/

/*.App  .presentation-container .user-control-container .user-control .control-item .play {*/
    /*width: 240px;*/
    /*height: 40px;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
/*}*/

/*.App  .presentation-container .user-control-container .user-control .control-item .play .video-name {*/
    /*padding-left: 20px;*/
/*}*/

/*.App  .presentation-container .user-control-container .user-control .control-item .play img{*/
    /*max-width: 40px;*/
    /*height: auto;*/
    /*!*padding-right: 20px;*!*/
/*}*/

/*.App  .presentation-container .user-control-container .admin-control {*/
    /*border: 1px solid white;*/
    /*padding:20px;*/
/*}*/

/*.App  .admin-container {*/
    /*border: 1px solid white;*/
    /*padding:20px;*/
    /*width: 800px;*/
    /*!*height: 300px;*!*/
    /*box-sizing: border-box;*/
    /*display: flex;*/
    /*flex-direction: column;*/
/*}*/

/*.App  .admin-container .admin-control-description {*/
    /*padding:20px;*/
    /*text-align: center;*/
/*}*/

.App .admin-control-item {
    padding-bottom:20px;
}

.App .admin-control-button {
    display: flex;
    justify-content: flex-end;
}

/*.App-logo {*/
/*animation: App-logo-spin infinite 20s linear;*/
/*height: 80px;*/
/*}*/

/*.App-header {*/
/*background-color: #222;*/
/*height: 150px;*/
/*padding: 20px;*/
/*color: white;*/
/*}*/

/*.App-intro {*/
/*font-size: large;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*from { transform: rotate(0deg); }*/
/*to { transform: rotate(360deg); }*/
/*}*/



